name: Build CI
on:
  workflow_dispatch:
    branches_ignore:
      - 'dependabot/**'

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Add pending status check
        uses: myrotvorets/set-commit-status-action@v2.0.1
        with:
          status: pending
          sha: ${{ github.sha }}

      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Deploy (Vercel)
        uses: amondnet/vercel-action@v25
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID}}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID}}
          github-comment: false

      - name: Set final status check
        uses: myrotvorets/set-commit-status-action@v2.0.1
        if: always()
        with:
          status: ${{ job.status }}
          sha: ${{ github.sha }}
